[Desktop Entry]
Type=X-MeeGoApplicationExtension
Name=SystemUI Plugin QML Widgets Demo Extension

[X-MeeGoApplicationExtension]
Interface=com.meego.core.MStatusIndicatorMenuExtensionInterface/1.0
Extension=libstatusindicatormenu-qmlplugin-demo.so
